<div class="register-container">
	<div class="register">
		<div class="header">
			<div class="header-image"></div>
		</div>

		<div class="title">
			Create a new account
		</div>

		<div class="body">
			<div class="row">
				<div class="col-xs-12 col-lg-8 offset-lg-2">
					<form [formGroup]="registerForm">
						<mat-form-field class="form-control">
							<mat-label>Username</mat-label>
							<input matInput formControlName="username" />
						</mat-form-field>

						<mat-form-field class="form-control">
							<mat-label>Password</mat-label>
							<input matInput type="password" formControlName="password" />
						</mat-form-field>

						<mat-form-field class="form-control">
							<mat-label>Password confirmation</mat-label>
							<input matInput type="password" formControlName="password-confirmation" />
						</mat-form-field>

						<div class="center">
							<button (click)="register()" mat-raised-button color="accent">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="alert-area" *ngIf="registerErrors.length > 0">
	<div class="alert alert-danger">
		{{ registerErrors }}
	</div>
</div>
