<app-breadcrumb-component [menu]="[
['tournament overview']
]"></app-breadcrumb-component>

<h1>All your tournaments</h1>
<button mat-raised-button [routerLink]="['/tournament-create']" color="primary"><mat-icon>add</mat-icon> create new tournament</button>

<div class="alert alert-info" *ngIf="tournamentService.getTournamentCount() <= 0">
	You don't have any tournaments available.
</div>

<div class="all-tournaments background-area" *ngIf="tournamentService.getTournamentCount() > 0">
	<app-tournament [tournament]="tournament" *ngFor="let tournament of tournamentService.allTournaments"></app-tournament>
</div>
