<h1>All mappools of {{ tournament.tournamentName }}</h1>
<div class="create-buttons">
	<button mat-raised-button [routerLink]="['/mappool-create', tournament.id]" color="primary"><mat-icon>add</mat-icon> create new mappool</button>
	<div matTooltip="You have to be authenticated with osu! in order to suggest a map" [matTooltipDisabled]="osuService.isLoggedIn == true">
		<button mat-raised-button (click)="suggestMap(tournament)" color="primary" [disabled]="osuService.isLoggedIn == false"><mat-icon>add</mat-icon> suggest a map</button>
	</div>
</div>

<div class="alert alert-info" *ngIf="tournament.mappoolCount() <= 0">
	There are no created mappools yet.
</div>

<div class="all-tournaments background-area" *ngIf="tournament.mappoolCount() > 0">
	<app-mappool [mappool]="mappool" [tournament]="tournament" *ngFor="let mappool of tournament.mappools"></app-mappool>
</div>
