<h1>All mappools of {{ tournament.tournamentName }}</h1>
<div class="create-buttons">
	<button mat-raised-button [routerLink]="['/mappool-create', tournament.id]" color="primary"><mat-icon>add</mat-icon> create new mappool</button>
	<button mat-raised-button (click)="suggestMap(tournament)" color="primary"><mat-icon>add</mat-icon> suggest a map</button>
</div>

<mat-tab-group mat-align-tabs="start">
	<mat-tab label="Mappools">
		<div class="alert alert-info" *ngIf="tournament.mappoolCount() <= 0">
			There are no created mappools yet.
		</div>

		<div class="all-tournaments background-area" *ngIf="tournament.mappoolCount() > 0">
			<app-mappool [mappool]="mappool" [tournament]="tournament" *ngFor="let mappool of tournament.mappools"></app-mappool>
		</div>
	</mat-tab>

	<mat-tab label="Suggested maps">
		<app-suggested-maps-list [tournament]="tournament"></app-suggested-maps-list>
	</mat-tab>
</mat-tab-group>
