@import 'variables';

.fixed-header {
	display: flex;
	justify-content: space-between;

	position: fixed;
	top: 0;
	z-index: 9999;

	padding-right: 0;

	.left-menu {
		display: flex;

		.brand {
			color: white;
			outline: 0;

			&:hover {
				cursor: pointer;
			}
		}

		.nav-link {
			margin: 0 8px;
			color: white;
			font-size: .75em;

			outline: 0;

			&.active {
				color: $primary;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.right-menu {
		height: inherit;

		.osu-login {
			display: flex;
			height: inherit;

			align-items: center;

			padding-right: 8px;

			.logo {
				height: inherit;

				img {
					height: inherit;
					padding: 8px;
				}
			}

			&:hover {
				background-color: $background-color;
				cursor: pointer;
			}
		}

		.mobile-nav {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	.fixed-header {
		.left-menu {
			.nav-link {
				display: none;
			}

			.nav-spacing {
				flex: 1 1 auto;
			}
		}

		.right-menu {
			.osu-login {
				display: none;
			}

			.mobile-nav {
				display: block;
			}
		}
	}
}
