@import 'variables';

.fixed-header {
	position: fixed;
	top: 0;
	z-index: 9999;
}

.mobile-nav {
	display: none;
}

.brand {
	color: white;
	outline: 0;

	&:hover {
		cursor: pointer;
	}
}

.nav-link {
	margin: 0 8px;
	color: white;
	font-size: .75em;

	outline: 0;

	&.active {
		color: $primary;
	}

	&:hover {
		cursor: pointer;
	}
}

@media only screen and (max-width: 768px) {
	.nav-link {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	.nav-spacing {
		flex: 1 1 auto;
	}
}
