<form [formGroup]="modBracketForm">
	<div class="mod-bracket">
		<div class="header">
			<div class="title">
				<h3>{{ modBracket.modBracketName }}</h3>
			</div>

			<div class="buttons">
				<button mat-mini-fab color="warn"(click)="deleteModBracket()"><mat-icon>delete</mat-icon></button>&nbsp;
				<button mat-mini-fab *ngIf="!collapsed" (click)="collapseModBracket()" title="minimize"><mat-icon>minimize</mat-icon></button>
				<button mat-mini-fab *ngIf="collapsed" (click)="collapseModBracket()" title="maximize"><mat-icon>open_in_full</mat-icon></button>
			</div>
		</div>

		<div class="body" *ngIf="!collapsed">
			<div class="row">
				<div class="col">
					<mat-form-field class="form-control">
						<mat-label>Modbracket name</mat-label>
						<input matInput [formControlName]="getModBracketNameValue()" (change)="updateModBracket()" />

						<mat-error *ngIf="modBracketForm.get(getModBracketNameValue()).invalid && (modBracketForm.get(getModBracketNameValue()).dirty || modBracketForm.get(getModBracketNameValue()).touched)">
							This field is required.
						</mat-error>
					</mat-form-field>

					<p>The name of the modbracket</p>
				</div>

				<div class="col">
					<mat-form-field class="form-control">
						<mat-label>Mods</mat-label>

						<mat-select multiple [formControlName]="getModBracketModsValue()" (selectionChange)="updateModBracket()">
							<mat-option *ngFor="let mod of allMods" [value]="mod">{{ mod }}</mat-option>
						</mat-select>

						<mat-error *ngIf="modBracketForm.get(getModBracketModsValue()).invalid && (modBracketForm.get(getModBracketModsValue()).dirty || modBracketForm.get(getModBracketModsValue()).touched)">
							This field is required.
						</mat-error>
					</mat-form-field>

					<p>Select the mods that should be used for the mod bracket.</p>
				</div>

				<div class="col">
					<mat-label>Amount of maps required</mat-label>
					<div>
						<mat-slider [formControlName]="getModBracketMapsRequiredValue()" (change)="updateModBracket()" class="form-control" thumbLabel tickInterval="1" min="1" max="50"></mat-slider>
					</div>

					<p>Select the amount of maps required for this specific mod bracket.</p>
				</div>
			</div>
		</div>
	</div>
</form>
