<app-breadcrumb-component [menu]="breadCrumbs" *ngIf="breadCrumbs.length >= 3"></app-breadcrumb-component>

<h1>Mappool creation</h1>
<hr />

<app-mappool-creation-template [mappool]="mappool" [mappoolForm]="mappoolForm"></app-mappool-creation-template>

<hr />
<h1>Creating the mappool</h1>
<p>Now that the mappool and mod brackets have been set, you have to finalize the mappool by clicking on the button below.</p>
<button mat-flat-button color="primary" (click)="createMappool()">Create</button>
