<app-breadcrumb-component [menu]="breadCrumbs"></app-breadcrumb-component>

<div *ngIf="tournament">
	<h1>{{ tournament.tournamentName }}</h1>
	<hr />

	<div class="background-area">
		<mat-tab-group mat-align-tabs="start" *ngIf="tournament.isCreator(authService.user)">
			<mat-tab label="Settings">
				<div class="container-fluid">
					<hr />
					<app-tournament-interface [tournament]="tournament" [tournamentForm]="tournamentForm"></app-tournament-interface>

					<hr />
					<h3>Updating the tournament</h3>
					<p>Now that the tournament settings have changed, you have to update the tournament before the changes are final.</p>
					<button mat-flat-button color="primary" (click)="updateTournament()">Update</button>

					<div id="tournamentUpdatedAlert" class="alert alert-success" *ngIf="tournamentUpdated == true">
						<h3>Successfully updated the tournament!</h3>
					</div>
				</div>
			</mat-tab>

			<mat-tab label="Second">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<app-mappool-overview></app-mappool-overview>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>

		<div *ngIf="!tournament.isCreator(authService.user)">
			<app-mappool-overview></app-mappool-overview>
		</div>
	</div>
</div>
