<div class="tournament" (click)="navigateToTournament(tournament, $event)">
	<div class="header">
		<h2>{{ tournament.tournamentName }}</h2>

		<div class="all-buttons" *ngIf="tournament.isCreator(authService.user)">
			<button mat-mini-fab color="warn" (click)="deleteTournament(tournament)"><mat-icon>delete</mat-icon></button>
		</div>
	</div>

	<div class="general-information">
		<img [src]="tournament.getGamemodeImage()" />
	</div>

	<div class="mappickers">
		<h4>Mappickers</h4>

		<mat-chip-list>
			<mat-chip *ngFor="let mappicker of tournament.mappickers">{{ mappicker.username }}</mat-chip>
		</mat-chip-list>
	</div>
</div>
